.comment-card {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
	background-color: #FFF;
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
}

.comment-box {
	display: flex;
	flex-basis: 40%;
	align-items: center;
	justify-content: space-around;
	margin-right: .03em;
	background-color: #FFF;
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
}

@media ( max-width: 480px ) {
	.comment-card {
		
		
	}
}