.packages { 
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-top: 15px;
	padding-left: 15px;
 }

.cardGroup {
  display: flex;
  flex-direction: column;
  flex: 1 0 250px;
  margin-right: 1em;
  margin-bottom: 1em;
  border: 1px solid silver;
  border-radius: 4px;
  overflow: hidden;
}

@media (max-width: 480px){
	.packages {
		flex-direction: column;
		padding-left: 15px;
	}
}