.showcase {
	display: flex;
	width: 1260px;
	margin-top: 2px;
	background: #e2e2e2;
}

.showcase .item {
	display: flex;
	justify-content: center;
	border: solid .03em black;
	flex: 1;
}

.showcase .item img {
	padding: 15px;
	height: 8em;
	max-width: 100%;
}

.showcase .item-2 {
	border: solid black;
	flex: 1;
}


@media ( max-width: 480px ) {
	.showcase {
		flex-direction: column;
	}
}