
.interface { 
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 5px;
}

.track-container {
	display: flex;
	flex-grow: 1;
	flex-basis: 50%;
	justify-content: center;
	height: 120px;
	margin: .03em;
}
.track-card { 
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	flex-basis: 50%;
	padding: 5px;
	background-color: #FFF;
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
	border-right: solid .1em;
}

.track-number {
	display: flex;
	flex-basis: 3%;
	align-items: center;
	justify-content: center;
	margin-right: .03em;
	background-color: #FFF;
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
 }

.track-image img {
	padding: 15px;
	height: 3em;
	max-width: 100%;
}

.track-info {
	display: flex;
	flex: 1;
	justify-content: space-around;
}

.track-info .save {
	border: solid red;
	align-self: flex-end;
}
.track-info button {
}

@media ( max-width: 920px ) {
	.tracks {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.track-card { 
	}
}

@media ( max-width: 600px ) {


	.track-card {
		flex: 1 100%;
	}
}

@media ( max-width: 480px ) {
	.track-card {
		flex: 1 50%;
	}
	.track-number {
		flex-basis: 8%;
	}
	h1 {
		margin-bottom: 20px;
	}
}