.sidebar {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: stretch;
	align-items: center;
	flex: 0 0 250px;
	padding: 20px;
	background: linear-gradient(120deg,#14be39 25%,#13B177 85%);
}

.sidebar i.fa {
	font-size: 0.9em;
}


.sidebarSection {
	display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.sidebar .currentUser {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.sidebar .avatars {
  margin: .8em 1ex;
  width: 40px;
  height: 40px;
  padding-right: 12px;
  position: relative;
  cursor: pointer;
  background: black;
}
.sidebar .displayNames {
    margin-top: -5px;
    flex-basis: 0;
    flex-grow: 1;
    overflow: hidden;
    cursor: pointer;
}

.sidebar .userDisplayName, .sidebar .brandDisplayName {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    position: relative;
    padding-right: 1em;
    box-sizing: border-box;
}

.sidebar .brandDisplayName {
    opacity: .33;
}

.sidebar .userDisplayName:after {
    content: '\e003';
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    font-family: icomoon;
    font-size: 9px;
    line-height: 21px;
    transition: transform .25s ease;
}
.button {
	background-color: #99c432;
  border: 2px solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  flex: 0 0 15px;
  font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 5px;
  min-width: 2.78572em;
  line-height: 2.78572;
  outline-width: 0;
  padding: 0 1em;
  text-align: center;
}