.App {
  display: flex;
  flex-direction: row;
}
.main-content {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
}

/*.audio-container {
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	border: solid black;
}

.file-container {
	display: flex;
	justify-content: center;
	align-self: center;
	flex: 1;
}

.file-container [type=file] {
    opacity: 0;
}

.audio-player {
	display: flex;
	justify-content: center;
	align-self: center;
}

.audio-bucks {
	display: flex;
	justify-content: center;
	flex: 1;
	border-radius: .05em;
	background-color: #e6e6e6;
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
}

.outer-flex-container {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	width: 500px;
	height: 700px;
	position: fixed;
	top: 200px; left: 250px;
	background: rgba(0,0,0,0.5);
}
.inner-flex-container {
	background:white;
	max-height: 80%;
	max-width: 80%;
	overflow-x: scroll;
}*/
/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}*/

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/

