@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
html,
  body {
    line-height: 1.4;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 90%;
    text-align: left;
  }

h1 {
	font-size: 5.625rem; /* 90px/16px */
	text-transform: uppercase;
	font-weight: normal;
	line-height: 1.3;
}

@media ( max-width: 480px ) {
  body {
    width: 90%;
  }
}